@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
 var currentEnvironment = ViewData["environment"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome Usama Arshad 2218.stag</h1>
    <p>This is the @currentEnvironment Environment </p> 
    <label>Email</label><input name="email" type="email"  />
    <label>Password</label><input name="password" type="password" />
    <button>Login</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
